<div class="row margin">
  <div class="card sign-up-card col-3 offset-6">
    <h5 class="card-header">Welcome</h5>
    <div class="card-body">
      <h5 class="card-title">Wanna throw a party?</h5>
      <p class="card-text">Make sure you will never celebrate your birthday alone again with Throw-a-party</p>
      <a href="/user/sign-up" class="btn btn-primary">Sign up</a>
    </div>
  </div>
</div>